<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />

</head>
<body>
    <div class="mx-auto w-50 mt-5">
        <a class="btn btn-outline-primary w-100" href="/Home/Index">Back To Home</a>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
