@{
    Layout = "_Layout";
    ViewBag.Title = "AboutUs";
}





    @* Start Body *@

    <div class="text-center mt-5 p-5 bg-warning text-white">
        <h1> Welcome To AboutUs Page</h1>
        <p class="text-muted ">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto impedit itaque totam voluptates culpa corporis sapiente, repellat quos velit harum!Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto impedit itaque totam voluptates culpa corporis sapiente, repellat quos velit harum!Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto impedit itaque totam voluptates culpa corporis sapiente, repellat quos velit harum!</p>
    </div>

    @* End Body *@

