
@{
    ViewData["Title"] = "ContactUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center mt-5 p-5 bg-dark text-white">
    <h1> Welcome To ContactUs Page</h1>
    <p class="text-white ">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto impedit itaque totam voluptates culpa corporis sapiente, repellat quos velit harum!Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto impedit itaque totam voluptates culpa corporis sapiente, repellat quos velit harum!Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto impedit itaque totam voluptates culpa corporis sapiente, repellat quos velit harum!</p>
</div>

